body {
  font-family: serif;
}

.logo img {
  width: 5vw;
}

.tagline p {
  font-size: 3em;
}
nav a {
  color: white;
}

section img {
  max-width: 30vw;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

section {
  width: 100vw;
  margin-top: 2vh;
  border-top: solid 1px;
  text-align: center;
}
